.details-box {
    display: flex;
    width: 50%;
    height: 75%;
    background-color: #1a1a1a;
  }
  
  .first-half {
    flex: 0 0 70%;
    padding: 20px 10px 10px 10px;
    border-right: 1px solid #ccc;
  }
  
  .second-half {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    padding: 10px;
  }
  
  h2 {
    margin: 0;
    padding: 0;
  }

  .movie-info {
    display: flex;
    margin-bottom: 10px;
  }

  h1 {
    color: antiquewhite;
  }
  
  .info-label {
    margin-right: 10px;
    color: #fff;
  }
  
  .info-data {
    color: antiquewhite;
    margin: 0;
    padding-top: 9px;
  }
  