img {
  width: 25%;
}

.welcometxt {  
  color: #D17B34;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: -35px;
}

h1 {
  font-size: 280%;
}

.question-container {
  padding: 20px;
  color: white;
  text-align: center;
  margin: 0 12cm;
}

.question-box {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px;
}

.movies-group {
  margin-bottom: 5%;
}

.movies-row {
  display: flex;
  margin-top: 1%
}

.movie-card {
  margin-right: 1%;
}

.movies-mapped {
  justify-content: center;
  right: 2%;
  position: relative;
}
