.filters {
  height: 32px;
  position: relative;
  width: 428px;
}

.genre-button {
  left: 0px !important;
  position: absolute !important;
  top: 0px !important;
}

.length-button {
  left: 154px !important;
  position: absolute !important;
  top: 0px !important;
}

.rating-button {
  left: 308px !important;
  position: absolute !important;
  top: 0px !important;
}

img {
  width: 25%;
}

.welcometxt {  
  color: #D17B34;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: -35px;
}

h1 {
  font-size: 280%;
}