.image {
  height: 128px;
  width: 227px;
}

.image .thumbnail-card {
  height: 128px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 227px;
}

.logo img {
  width: 18vw;
  height: auto;
}

.question-container {
  padding: 20px;
  color: white;
  text-align: center;
  margin: 0 12cm;
}

.question-box {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px;
}

/* .question {
  color: white;
  text-align: center;
  margin-top: 100px;
  border-style: double;
} */

.quiz-introduction {
  color: white;
  text-align: center;
  margin-top: 50px;
}

