/* style.css */
body {
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background: linear-gradient(to bottom, #000000, transparent);
  pointer-events: none;
  z-index: -1;
}

.home-page-background {
  background-image: url("../../img/spider-man.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-not-found {
  color: white;
}