body {
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  opacity: 90%;
  background: linear-gradient(to bottom, #000000, #000000, transparent);
  pointer-events: none;
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: linear-gradient(to top, #000000, transparent);
  pointer-events: none;
  z-index: -1;
}

.home-page-background {
  background-image: url("../../img/spider-man2.jpeg");
  background-repeat: repeat;
  background-size: cover;
}

.page-not-found{
  color: white;
  font-size: 18px;
}

.txt {
  color: white;
  font-size: 18px;
  text-align: center;
}

.split-layout {
  display: flex;
  height: 80vh;
  margin: 2%;
}

.left-half,
.right-half {
  width: 50%;
  box-sizing: border-box;
}

.left-half {
  margin-bottom: 2%;
}

.right-half {
  margin-bottom: 2%;
}

.movie-details-page {
  display: flex;
  background-size: cover;
}

.movie-details-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  opacity: 90%;
  background: linear-gradient(to bottom, #000000, #000000, transparent);
  pointer-events: none;
  z-index: 0;
}

.details-page-body {
  z-index: 1;
}

.explore-text{
  font-size: 20px;
  margin: 2% 11% 2% 11%;
  display: flex;
  justify-content: flex-start;
}